<header>
  <h1 class="border-top border-4 display-4 text-center p-3">
    <span class="fas fa-utensils"></span> The Bashful Diner
  </h1>
</header>

<div class="container p-3">
  <div class="row">

    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="billCards border-3 card p-4 m-2">
        <div class="card-body border border-dark">
          <h4 class="card-title text-center p-3">Order Status</h4>
          <h5 class="card-text text-center"> Thank you for your order!</h5>
          <h5 class="text-center">Your food will be ready soon!</h5>
        </div>
      </div>
    <button id="cashOut" class="linkStyle buttonStyle text-center col-lg-2 col-sm-12 p-2 m-2">Cash Out with Server</button>
    </div>


    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="billCards card p-4 m-2 border-3">
        <div class="card-body border border-dark">
          <table class="table table-border">
            <thead>
              <tr>
                <th scope="col" class="align-middle text-center">Ordered Items</th>
                <th>
                  {{#each billItems as |billItem| }}
                  {{ billItem.menu_item.dish_name }} <span class="orderedItems">${{ billItem.menu_item.price
                    }}</span><br>
                  {{/each}}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="col" class="align-middle text-center">Subtotal</th>
                <th class="orderedItems">${{getSub billItems }} </th>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th scope="col" class="align-middle text-center">Sales Tax</th>
                <th class="orderedItems">${{getTax billItems }} </th>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th scope="col" class="align-middle text-center">Service Fee</th>
                <th class="orderedItems"> ${{getTip billItems }} </th>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th scope="col" class="align-middle text-center">Total</th>
                <th class="orderedItems">${{getTotal billItems }}</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid border-bottom border-4">
  <footer class="m-4">
    <div class="row">
      <div class="col-lg-3"></div>
      <button onclick="window.location.href='/menu'"
        class="menuBtn linkStyle buttonStyle text-center col-lg-2 col-sm-12 p-2 m-2">Menu</button>
      <button onclick="window.location.href='/cart'"
        class="viewCartBtn linkStyle buttonStyle text-center col-lg-2 col-sm-12 p-2 m-2">View Cart</button>
      <button id="requestServer" class="linkStyle buttonStyle text-center col-lg-2 col-sm-12 p-2 m-2">Request
        Server</button>
      <div class="col-lg-3"></div>
    </div>
  </footer>
</div>
<script src="/js/bill.js"></script>